<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inbox</title>
    <style type="text/css">
        .inbox {
            background-color: blueviolet;
            border: dotted solid #ff0000;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <a href="../Index.aspx">Log out</a>
    <hr />
    <h1>Inbox</h1>
    <div class="inbox">
        <ol id="inbox">
            <li>Inbox</li>
        </ol>
    </div>
    <table>
        <thead></thead>
        <tr><td id="inb"></td></tr>
    </table>
    <div>
        <input type="button" id="btnin" value="Inbox" onclick="alert('inbox')" />
    </div>
    <script src="../scripts/Myappdv.js"></script>
</body>
</html>