<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Online App Diary System</title>
    <link rel="stylesheet" href="../assets/main.css" />
    <script src="../scripts/jquery-1.10.2.min.js"></script>
    <script src="../scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="../signalr/js"></script>
    <script src="../scripts/Myappdsb.js"></script>
</head>
<body>
    <a href="../Index.aspx">Log out</a>
    <div class="oApp" id="dApp">Admin1</div>
    <hr />
    <h1>AppDS(Online2)</h1>
    <section id="todo">
        <div>
            <ol>
                <li>Send messages to organisation.</li>
                <li>Send messages to your branch.</li>
                <li>Make appointments.</li>
                <li>View messages.</li>
                <li>View appointments.</li>
                <li>Add/update/delete appointments.</li>
                <li>Appointments list.</li>
            </ol>
        </div>
    </section>
    <h2>Say Hello.</h2>
    
    <hr />
    <div id="infoOrg">
        INFO:1
		//Code:
        //@data/Myappdsb.exe
    </div>
    <hr />
    <div id="infoBranch">
        INFO:2
    </div>
    <hr />
    <div id="infoOrgAdmn">
        INFO:3
    </div>
    <hr />
    <div id="infoBraAdmn">
        INFO:4
    </div>
    <hr />
    <div id="infoUser">
        INFO:5
    </div>
    <hr />
    <div id="infoCustomer">
        INFO:6
    </div>
    <hr />
    <div id="infoApp">
        INFO:7
    </div>
    <hr />
    <div id="infoAppAdmn">
        INFO:8
    </div>
    <hr />
    <div id="infoMess">
        INFO:9
    </div>
    <hr />
    <div id="infoAdm2">
        INFO:10
    </div>
    <hr />
    <div class="log"></div>
    <hr /><p></p>
    <footer id="ftApp" name="ftApp">
        <small>(C) 2018 BM</small>
    </footer>
</body>
</html>
