<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Online App Diary System</title>
    <script src="../scripts/jquery-1.10.2.min.js"></script>
    <script src="../scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="../signalr/js"></script>
    <script src="../scripts/Myappdsc.js"></script>
</head>
<body>
    <a href="../Index.aspx">Log out</a>
    
    <hr />
    <div id="infoOrg">
        INFO:1
		////////////////////////////////////////////////
        //Code:
        //@Myappdsb.exe
        ////////////////////////////////////////////
    </div>
    <hr />
    <div id="infoBranch">
        INFO:2
    </div>
    <hr />
    <br />
</body>
</html>